.logo{
    font-family: Poppins;
font-size: 25px;
font-style: italic;
font-weight: 800;
/* line-height: 67.5px; */
text-align: left;

}
.nav-link  {
    font-family: Poppins;
font-size: 24px;
font-weight: 800;
/* line-height: 48px; */
text-align: left;
margin-left: 90px;
}
.logo-container {
    position: relative;
  }
  
  .logo-text {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000; 
  }
  @media (max-width: 768px) {
.nav-link {
    margin-left: 0;
    }
  }