body{
  font-style: Poppins !important;
}
a{
  text-decoration: none !important;
}
.active{
  color: #FF5C00 !important;
}
.breadcrumb-item{
  font-family: Poppins;
font-size: 20px;
font-weight: 500;

text-align: left;

}


.circle-image{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;

}
@media (max-width: 576px) {
  .cart-button{
    /* display: none !important; */
  }
  .card-title{
    font-size: x-small;
    text-wrap: nowrap;
  }
  .card-img-top{
    max-height: 150px !important;
  }
  .border-height{
    
  }
  .logo{
    font-size: 15px !important;
    font-weight: 800;
  }
  .nav-css li{
    margin-left: 0;
    font-size: 15px;
  }
}


.x2{
  display: none;
}
/* .it{
  padding: 21px ;
} */
@media (max-width: 768px) {
  .table td:nth-child(6) {
    display: none;
  }
  .table td:nth-child(3) {
    display: none;
  }
  .table td:nth-child(4) {
    display: none;
  }
  
  .table  .act {
    display:  none;
  }
  .table .quantity{
    display: none;
  }
  .x2{
    display: inline-block;
  }
  #giftCard, #paymentMethod{
    width: 80% !important;
  }
  .apply{
    display: none !important;
  }
  /* .it{
    padding: none ;
  } */
 

}

.phone-only-bg {
  background-image: url('./assets/images/ads.jpg');
  background-size: cover;
  background-position: center;
  height: 100px; 
  width: 100%; 
  display: none; 
  border-radius: 20px;
}


@media only screen and (max-width: 767px) {
 .phone-only-bg {
    display: block;
  }
}
a {
  text-decoration: none !important;
  color: inherit !important;
}