a{
  text-decoration: none !important;
}
.active{
  color: #FF5C00 !important;
}
.breadcrumb-item{
  font-family: Poppins;
font-size: 20px;
font-weight: 500;

text-align: left;

}
body{
  font-style: Poppins !important;
}

@media (max-width: 576px) {
  .cart-button{
    /* display: none !important; */
  }
  .card-title{
    font-size: x-small;
    text-wrap: nowrap;
  }
  .card-img-top{
    max-height: 150px !important;
  }
  .border-height{
    
  }
  .logo{
    font-size: 15px !important;
    font-weight: 800;
  }
  .nav-css li{
    margin-left: 0;
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card-body {
    flex-direction: column;
  }
  .row.align-items-center.mb-4 {
    flex-direction: column;
  }
  .col-3.col-lg-3.col-md-12.mb-4.mb-lg-0 {
    width: 100%;
  }
  .col-9.col-lg-9.col-md-12 {
    width: 100%;
  }
}

/* Tablet portrait */
@media (min-width: 480px) and (max-width: 767px) {
  .card-body {
    flex-direction: column;
  }
  .row.align-items-center.mb-4 {
    flex-direction: column;
  }
  .col-3.col-lg-3.col-md-12.mb-4.mb-lg-0 {
    width: 100%;
  }
  .col-9.col-lg-9.col-md-12 {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .card-body {
    flex-direction: column;
  }
  .row.align-items-center.mb-4 {
    flex-direction: column;
  }
  .col-3.col-lg-3.col-md-12.mb-4.mb-lg-0 {
    width: 100%;
  }
  .col-9.col-lg-9.col-md-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .table td:nth-child(6) {
    display: none;
  }
  .table  .act {
    display:  none;
  }
}